/node_modules
/public/hot
/public/storage
/public/file_apresiasi/
/public/datakaryawan/
/public/master_data/
/public/file_covid/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
